# .NET Specified
bin/
obj/

# IDE Specified
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
simplebot/config.json

# VSCode Specified
/.vscode/
simplebot/.vscode/

# Project related files
simplebot/Config/config.json 
simplebot/Engine/LevelEngine/userinfo.json 
